/*em 1em=16px sirve para hacer responsive los tamaños de los elementos pero los hijos duplica
los elementos padres
rem sirve para hacer responsive los tamaños de los elementos ya que hace a diferencia de em
toma el valor relativo y no duplica los valores de etiquetas padres*/
/*ver selectores*/
:root {/*Es conocido como seudo-elemento sirve para declarar variables en css no existe en html*/
--blanco: #ffffff; /*con -- defino el color en esta ocacion en hexadecimal*/
--negro: #212121;
--morado:#51557E;
--lila:#816797;
--amarillo:#FFC107;

}
html {
    font-size: 62.5%;
}
body{
    font-size: 16px;/*1rem=10px*/
    font-family: 'Krub', sans-serif; /*cambio la fuente de toda la pagina si la coloco aqui*/
}
/*Las dos lineas de arriba sirven para hacer el uso de la propiedad rem mas facil*/
/*class sirve como selector de un stilo de css en el css este se coloca con un ."nombre del selector class"*/
/*id sirve como selector de un stilo de css en el css este se coloca con un #"nombre del selector id" a diferencia de class los id no pueden repetirse es mala practica*/
/*se recomienda hacer mas uso de class que de id para no afectar la espicifidad de cssS*/
.titulo {
    text-align: center; /*text-align sirve para alinear el elemento*/
    font-size: 3.8rem;
}
/*el codigo es mas especifico por lo que para el css tendra mas prioridad en la cascada
a eso se lo denomina especifidad*/
h1.titulo span {/*ya no es recomendable usar px como propiedad sino en su lugar rem*/
    font-size: 2rem; /*font-size sirve para darle un tamaño a la fuente*/
    

}
.titulo span {/*ya no es recomendable usar px como propiedad sino en su lugar rem*/
    font-size: 2rem; /*font-size sirve para darle un tamaño a la fuente*/
    

}
.nav-bg{
background-color: var(--morado);
}
.navegacion_principal {
    display: flex; /*Esto nos habilita flexbox .siempre hay que ir al elemento padre de lo que queremos alinear*/
    flex-direction:column ;/*sirve para darle direccion a la flexbox row para fila(horizontal) o column para columna(vertical) */
    /*align-items:normal; sirveria para centrar la flex si es una columna*/
    align-items: center;
}
@media (min-width: 768px) {/*con @media  indico desde que resolucion en adelante hay cambios*/
    .navegacion_principal{
        flex-direction:row;
        justify-content: space-between ;/*nos permite mover el contenido horizontalmente*/

    }
    

}
.navegacion_principal a {/*aqui uso el selector para los links*/
    display: block;
    text-align: center;
    color:var(--blanco);
    text-decoration: none; /*text sirve para hacer modificaciones en la fuente en este caso lo usamos para eliminar las lineas que aparecen abajo de los enlaces*/
    font-size: 2rem;
    font-weight:bold ;/*sirve para hacer la fuente negrita*/
    padding: 1rem;
}

.navegacion_principal a:hover{/*es el disparador que hace que cambie los enlaces al pasar por encima*/
    background-color:var(--amarillo);
    padding: 1rem;/*pading es como margin pero este expande hacia dentro ideal para barras*/
    color: var(--negro);

}
.contenedor {/*sirve para centrar*/
    max-width: 120rem; /*con max le indicamos el maximo de pixeles que tomara*/
    /*margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    margin: 0 auto 0 auto;esto es lo mismo de arriba y el orden va como las agujas del reloj*/
    margin: 0 auto;/*es lo mismo que todo lo de arriba pero mas simplificado*/
}

.hero{
    background-image:url(../img/hero.jpg) ; /*Sirve para colocar una imagen de fondo en el contenedor */
    background-repeat: no-repeat; /*sirve para que la imagen del fondo no se repita si no abarca toda la pantalla*/
    background-size:cover ;/*sirve para que la imagen tome todo el espacio posible*/
}